[submodule "vim/bundle/vim-markdown-preview"]
	path = vim/bundle/vim-markdown-preview
	url = https://github.com/nelstrom/vim-markdown-preview.git
[submodule "scripts/i3-battery-popup"]
	path = scripts/i3-battery-popup
	url = https://github.com/rjekker/i3-battery-popup
[submodule "oh-my-zsh/custom/oh-my-zsh-candy-light"]
	path = oh-my-zsh/custom/oh-my-zsh-candy-light
	url = https://github.com/RanaExMachina/oh-my-zsh-candy-light.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh-themes/powerlevel9k"]
	path = oh-my-zsh-themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "oh-my-zsh-themes/oh-my-zsh-candy-light"]
	path = oh-my-zsh-themes/oh-my-zsh-candy-light
	url = https://github.com/RanaExMachina/oh-my-zsh-candy-light
[submodule "oh-my-zsh-themes/nidoranarion"]
	path = oh-my-zsh-themes/nidoranarion
	url = git@github.com:NicolaiRuckel/nidoranarion.git
[submodule "texmf/bibtex/bib/bibliography"]
	path = texmf/bibtex/bib/bibliography
	url = git@github.com:NicolaiRuckel/bibliography
[submodule "texmf/tex/latex/beamer/issdark-beamer-theme"]
	path = texmf/tex/latex/beamer/issdark-beamer-theme
	url = https://github.com/NicolaiRuckel/issdark-beamer-theme
